/*
 desktop.css
 This file is part of OpenAero.

  OpenAero was originally designed by Ringo Massa and built upon ideas
  of Jose Luis Aresti, Michael Golan, Alan Cassidy and many others. 

  OpenAero is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  OpenAero is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with OpenAero.  If not, see <http://www.gnu.org/licenses/>.
*/

/* This file defines all the css styles for the desktop version */

#topBlock {
	height: 77px;
}
.fuDesigner #topBlock {
	height: 30px;
}
#undoRedo {
	top: 28px;
}
#mainMenu #undoRedo {
	top: 4px;
}
.undoRedoButton {
  float: left;
  margin: -1px 4px -1px 4px;
  padding: 0 !important;
}
#redo {
	clear: left;
}
#sequenceTextContainer {
  left: 4px !important;
	right: 32px !important;
}
#sequenceTextClone {
	font-size: 16px !important;
}
#sequence_text {
	top: 0;
}
#t_locked {
  top: 28px;
  left: 0;
  right: 0;
}
#t_finalizeSequence {
	margin: 4px 32px;
	padding: 2px 8px;
}
#main {
	top: 76px;
  padding: 0;
}
.fuDesigner #main {
	top: 32px;
}
#svgContainer {
  top: 20px;
}

/* menu */
#hamburgerMenu {
	display: none;
}
#mainMenu {
  width: 100%;
  height: 25px;
  font-size: 14px;
}
#mainMenu ul {
  float: left;
}
#mainMenu div {
	display: inline-block;
}
.menuIcon {
	position: relative;
	margin-left: 8px;
	margin-right: -12px;
	top: 3px;
	font-size: 16px;
}
img.menuIcon {
	width: 16px;
	height: 16px;
}
#zoomMenu .material-icons {
  position: relative;
  top: 6px;
}
/* menu dropdown functionality */
/*set up ul tags*/ 
/* dropdown */
#menu {
  height:28px;
  z-index: 10;
}
#menu li.active {
  background-color: #ddf !important;
}
#menu li.active.disabled {
  background-color: white !important;
}
#menu, #menu ul {
  padding:0;
  margin:0;
}
/*set up a tags*/ 
#menu span, #menu a {
  display: inline-block;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  padding: 5px 20px 5px 16px;
  cursor: default;
}
#menu li.disabled span, #menu li.disabled a {
  color: rgba(0,0,0,0.38);
}
#menu li ul span, #menu li ul a {
  font-weight: normal;
  padding: 8px 16px 8px 16px;
}
#menu li ul span span {
  padding: 0;
}
#menu .divider {
  margin-bottom: 0;
  padding-bottom: 0;
}
/*position level 1 links horizontally*/ 
#menu li {
  display:block;
  float:left;
  background-color: #ede7f6;
  transition: background-color 0.2s;
}
i.leftArrow:after, i.rightArrow:after {
  content: "arrow_drop_down";
}
#menu i.leftArrow {
  position: absolute;
  top: 4px;
  left: -4px;
  transform: rotate(90deg);
}
#menu i.rightArrow {
  position: absolute;
  right: 0;
  top: 4px;
  transform: rotate(-90deg);
}

/*undo previous style for level 2 links*/
#menu li ul li {
  position: relative;
  background-color: white;
  float:none;
}
/*position level 2 links vertically and hide*/ 
#menu li ul {
  visibility:hidden;
  min-width: 110px;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: transform 0.2s ease-in-out;
  position:absolute;
  z-index:10;
  -webkit-transform-style: preserve-3d;
  margin-top: -1px; /* prevents menu disappearing on FF */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  background-color:#fbfbfb;
}
/*unhide level 2 links on li.active from level 1*/ 
#menu li.active ul {
  visibility:visible;
  transform: scaleY(1);
  transition: transform 0.2s ease-in-out;
}
/*undo previous style for level 3 links*/
#menu li ul li ul li {
  float:none;
}
/*position level 3 links vertically and hide*/ 
#menu li ul li ul {
  visibility:hidden;  
  transform: scale(0,0);
  transform-origin: 100% 0%;
  position:absolute;
  left:-200px;
  width:200px;
  z-index:10;
  -webkit-transform-style: preserve-3d;
  margin-top: -30px;
}
/*don't unhide level 3 links on li.active from level 1*/
#menu li.active ul li ul {
  visibility:hidden;
  transform: scale(0,0);
}
/*unhide level 3 links on li.active from level 2*/
#menu li.active ul li.active ul {
  visibility:visible;
  transform: scale(1,1);
}
/*undo previous style for level 4 links*/
#menu li ul li ul li ul li {
  float:none;
}
/*position level 4 links vertically and hide*/ 
#menu li ul li ul li ul {
  visibility:hidden;
  transform: scale(0,0);
  transform-origin: 0% 0%;
  position:absolute;
  left:200px;
  white-space: nowrap;
  width: initial;
  z-index:10;
  -webkit-transform-style: preserve-3d;
  margin-top: -30px;
}
/*don't unhide level 4 links on li.active from level 1*/
#menu li.active ul li ul li ul {
  visibility:hidden;
  transform: scale(0,0);
}
/*don't unhide level 4 links on li.active from level 2*/
#menu li.active ul li.active ul li ul {
  visibility:hidden;
  transform: scale(0,0);
}
/*unhide level 4 links on li.active from level 3*/
#menu li.active ul li.active ul li.active ul {
  visibility:visible;
  transform: scale(1,1);
}

/* button tooltips */
.tooltip div {
  position: absolute;
  font-size: 14px;
  z-index: 10;
  display: none;
  padding: 4px;
  margin-top: -40px;
  margin-left: -160px;
  width: 144px;
  background: #fff0e0;
  border-radius: 8px 8px 0 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  background: linear-gradient(to bottom, rgba(255,250,240,1) 0%,rgba(255,246,220,1) 100%);
}
.disable.tooltip div {
  display: none !important;
}
.tooltip:hover div {
  display: block;
}
.ttRight div {
  margin-left: 20px;
  border-radius: 8px 8px 8px 0;
}

/* Settings */
#smallMobileSetting {
	display: none;
}
