/*
 mobile.css
 This file is part of OpenAero.

  OpenAero was originally designed by Ringo Massa and built upon ideas
  of Jose Luis Aresti, Michael Golan, Alan Cassidy and many others. 

  OpenAero is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  OpenAero is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with OpenAero.  If not, see <http://www.gnu.org/licenses/>.
*/

/* This file defines all the css styles for the mobile device version */

body.menuOpen {
  overflow-y: hidden;
}
#cordovaStatusBar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 20px;
	background-color: #ede7f6;
}
#topBlock {
	height: 56px;
}
#sequenceTextContainer {
  left: 56px;
}
/* left margin to negative half width of hamburgerMenu */
#t_finalizeSequence {
	margin: 10px 0 0 -20px !important;
}
.undoRedoButton {
  margin: 0 0 0 4px;
  padding: 16px 12px 16px 4px;
}
#t_locked {
  top: 0;
  left: 56px;
  right: 0;
}
#main {
	top: 56px;
  padding: 0;
}

/* menu */
#hamburgerMenu {
  padding: 16px 16px 12px 16px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  z-index: 12;
}
#hamburgerMenu i {
  transition: transform 0.2s;
}
.menuOpen #hamburgerMenu i {
  transform: rotate(-90deg);
}

/* define arrows */
i.leftArrow:after {
  content: "chevron_left";
}
i.rightArrow:after {
  content: "chevron_right";
}

#menu i.leftArrow {
  float: left;
  margin: -3px 0 0 -10px;
}

#menu i.rightArrow {
  float: right;
  margin-top: 12px;
}

/* position menu */
#mainMenu {
	position: absolute;
	transform: translateZ(0); /* to assure it is shown when keyboard pops up on iOS */
	overflow: hidden;
  width: 276px;
  left: 0;
  top: 56px;
  bottom: 0;
  font-size: 16px;
  z-index: 10;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  transform: translateX(-282px);
  transition: transform 0.2s ease-in-out;
}
#mainMenu.active {
  transform: translateX(0);
}

#mainMenu ul {
	position: absolute;
	overflow-x: hidden;
	overflow-y: visible;
	top: 0;
  bottom: 0;
	width: 100%;
  background-color: #fafafa;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
	-webkit-overflow-scrolling: touch;
}
.menuIcon {
	position: relative;
	margin-left: 8px;
	top: 6px;
}
.menuHeader {
	position: relative;
  padding-bottom: 2px;
  background-color: #ffcc80;
}
.currentMenu {
	font-weight: bold !important;
	color: #512da8 !important;
	float: right !important;
}
#menu ul li span {
  float: none;
}
#menu, #menu ul {
  padding: 0;
  margin: 0;
}
/*set up a tags*/ 
#menu span, #menu a {
  display: inline-block;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  padding: 16px 8px;
  margin: 2px 0 -2px 0;
  cursor: default;
}
/*#menu li {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1"><circle cx="50" cy="50" r="50" fill="#ddf" /></svg>');
	background-size: 0 0;
	background-repeat: no-repeat;
	transition: background-size 1s;
}*/
#menu li {
	transition: background-color 0.2s;
}
#menu li.active {
  background-color: #ddf !important;
}

#menu li.disabled span, #menu li.disabled a {
  color: rgba(0,0,0,0.38);
}
#menu li ul span, #menu li ul a {
  font-weight: normal;
  padding: 16px;
}
#menu li ul span span {
  padding: 0;
}
#menu .divider {
  margin-bottom: 0;
  padding-bottom: 0;
}
/*position level 1 links vertically*/ 
#menu li {
  display: block;
  width: 100%;
  text-align: justify;
}
#menu li.fileOpening {
  position: relative;
}

/*position level 2 and up links vertically and hide*/ 
#menu li ul {
  width: 276px;
  transition: left 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: -282px;
  z-index: 1;
  box-shadow: none; /* improves rendering speed */
}
/*unhide level 2 links on li.active from level 1*/ 
#menu li.active ul {
  left: 0;
}
/*don't unhide level 3 links on li.active from level 1*/
#menu li.active ul li ul {
  left: -282px;
}
/*unhide level 3 links on li.active from level 2*/
#menu li.active ul li.active ul {
  left: 0;
}
/*don't unhide level 4 links on li.active from level 1*/
#menu li.active ul li ul li ul {
  left: -282px;
}
/*don't unhide level 4 links on li.active from level 2*/
#menu li.active ul li.active ul li ul {
  left: -282px;
}
/*unhide level 4 links on li.active from level 3*/
#menu li.active ul li.active ul li.active ul {
  left: 0;
}

/* documentation */
.docs {
	background: transparent !important;
}

/* Free Unknown Designer */
#fuFiguresTable td {
	padding: 4px;
}
