@page {
  size: A4;
  margin: 4mm;
}
html, body {
  width: 202mm;
  margin: 0;
}
svg {
  height: 287mm !important;
  page-break-inside:avoid;
}
.breakAfter {
  display:block;
  page-break-after:always;
}

