/*
 smallMobile.css
 This file is part of OpenAero.

  OpenAero was originally designed by Ringo Massa and built upon ideas
  of Jose Luis Aresti, Michael Golan, Alan Cassidy and many others. 

  OpenAero is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  OpenAero is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with OpenAero.  If not, see <http://www.gnu.org/licenses/>.
*/

/* This file defines all the css styles for the small mobile version
 * They will override any equivalent css styles in general.css and
 * mobile.css */

select {
  background-color: #fff;
}

/* save dialog */
#dlTextField {
	padding-right: 32px;
}
#fileExt {
	top: -1.55rem;
}

.notSmallMobile {
	display: none;
}

/* top block */
#topBlock {
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  /* width: 320px; */
  width: 100%;
}
#openAeroLogo {
  display: none;
}
.version {
  display: none;
}
#sequenceTextContainer {
  position: relative;
  /* left: 34px; */
  left: 0;
  right: 0;
}
#sequence_text {
  /* width: 248px; */
  left: 40px;
  right: 40px;
  height: 50px;
  padding: 0 2px;
}
#t_locked {
	font-size: 14px;
	padding: 8px;
  /* left: 32px; */
  left: 40px;
}

#main {
	position: absolute;
	overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  width: 320px;
  max-width: 320px;
  */
  width: 100%;
}
#leftBlockContainer {
	position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
	/*width: 320px;*/
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
#leftBlock {
  position: relative;
  top: 0;
  left: 0;
  background: #f4f4f4;
  /*width: 320px;*/
  width: 100%;
  padding: 40px 0 0 0;
  z-index: 1;
  overflow: hidden;
  min-height: 600px;
}

#sequenceInfo div.form-group {
	display: inline-block;
	margin: 16px 4px 16px 0;
}
#sequenceInfo div.form-group:first-of-type {
	width: 47%;
}
#sequenceInfo div.form-group:last-of-type {
  width: 47%;
  margin-right: 0;
}
.narrowRight div.form-group:first-of-type {
  width: 54% !important;
}
.narrowRight div.form-group:last-of-type {
  width: 40% !important;
}

#sequenceInfo {
  position: relative;
  float: left;
  /* width: 312px; */
  width: 98%;
  transform: translate(0,0,0);
  transition: all 0.3s ease-in-out;
}
#sequenceInfo.hidden {
  transform: translate(-100vw,4px);
  visibility: visible;
}
#figureInfo {
  position: relative;
  float: left;
  left: 0;
  /* width: 312px; */
  width: 98%;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}
#figureInfo.hidden {
  transform: translateX(100vw);
  visibility: visible;
}
#figureInfo.hidden.left {
	transform: translate(-100vw,4px);
}

#referenceSequenceString {
  width: 99%;
  height: 48px;
}

#fileDropLogo {
	margin: 16px 16px 0 0;
}

#alerts {
	/* width: 312px; */
	width: 99%;
}
/* virtual keyboard */
#virtualKeyboard {
  top: 4px;
  left: 0;
}

.tabSelector ul {
	display: flex;
}
.tabSelector li {
  flex: 1;
}
#leftBlockTabSelector {
	position: absolute;
	z-index: 5;
	/* width: 320px; */
	width: 100%;
}
#leftBlockTabSelector li {
  display: inline-block;
  width: 82px; /* for backward compatibility, ignored using flex */
}
#leftBlockTop {
	margin-top: 40px;
}
#svgContainer {
  position: relative;
  overflow: hidden;
  float: left;
  left: 0;
  /* width: 312px; */
  width: 98%;
  background-color:#ffffff;
  padding: 4px;
  margin: 0 0 4px 0;
	text-align: center;
	transition: all 0.3s ease-in-out;
}
#svgContainer.hidden {
	transform: translateX(100vw);
}
#gridInfo {
  display: none;
}
#t_gridView {
	display: none;
}
#gridColumnsContainer div {
	clear: both;
}
#figureSelector {
  position: absolute;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100vw;
  height: 100%;
  font-size: 16px;
  padding: 0;
  background-color: white;
  z-index: 12;
  right: auto;
  /* left: -340px; */
  left: -110vw;
	-webkit-overflow-scrolling: touch;
}
#figureSelector.active {
  left: 0;
}
#hideFigureSelector:after {
  content: "arrow_back";
}
#hideIllegalFigures {
	display: flex;
}
#hideIllegalFigures span {
  display: inline-block;
  flex: 1;
  margin: 8px 4px;
}
#hideIllegalFigures span.material-switch {
	float: right;
}
/* columns */
.content3cols {
  width: 97%;
}
.content2cols {
  width: 97%;
}

/* buttons */
.button {
  margin-left: 5px;
  margin-right: 5px;
}
.button.small {
  margin: 1px;
}
.undoRedoButton {
  margin: 3px 8px -1px 4px;
  padding: 0;
}
#redo {
	clear: left;
}
.minButton, .plusButton {
	font-size: 34px !important;
	height: 30px;
  width: 30px;
}
.minButton {
	line-height: 26px;
}
.plusButton {
	line-height: 30px;
}
.plusMinText {
  font-size: 16px;
  height: 32px;
}
#selectedFigure.active {
	/* include border in box size */
  width: 160px;
  height: 144px;
  padding: 0 8px;
}
#unknownFigureChooser {
  width: 160px;
}
#entryExit {
  min-height: 56px;
  padding-left: 6px !important;
}
#figEntryButton.button {
  margin-left: 0 !important;
  margin-right: 2px !important;
}
#figExitButton.button {
  margin-left: 2px !important;
  margin-right: 0 !important;
}
/*
.rollComment {
  font-size: 20px;
  float:right;
  margin-left: 5px;
  margin-right: 5px;
  height: 32px;
  width: 40px;
  transition: all 0.3s ease-in-out;
}
.rollComment:focus {
  margin-left: -260px;
  width:290px;
  opacity: 0.999; /* prevents rollFlip shining through */
/*}
*/
.rollComment {
  font-size: 20px;
  height: 32px;
  margin-top: 2px;
}
.rollGaps .plusMin {
	display: inline-block;
	width: 33%;
}
#scale {
  margin-left: 5px;
  margin-right: 5px;
}
#moveX,#moveY {
  margin-left: 6px;
  margin-right: 6px;
}
#figureInfo select {
	height: 32px !important;
	line-height: 32px;
	/*max-width: 160px;*/
  font-size: 20px;
}
#comments {
	flex: 1;
  margin-right: 16px;
}

/* logo chooser */
#activeLogo {
  float: right;
}
#chooseLogo div {
  padding: 6px;
}

/* figure chooser */

#figureChooser {
  width: 100vw;
  margin: 0! important;
  bottom: 0;
}
table#figureChooserColumns {
  position: absolute;
  top: 164px;
  left: 4vw;
  width: 96vw;
}
table#figureChooserTable td {
  width: 23vw;
  padding: 1px;
  border: 1px solid #eee;
  border-radius: 5px;
}
table#figureChooserTable td.selected {
  border: 1px solid magenta;
}
#figureSelector div {
  margin: 6px;
}
#figureSelector div div {
  margin: 0;
}
#figureSelectorOptionsDiv select,#figureSelectorGroupDiv select {
  font-size: 14px;
}
#figureSelectorClose {
	position: absolute;
	top: 8px;
	left: 4px;
}

/* message and other boxes */
.box {
  top: 1%;
  left: 1%;
  width: 95%;
}
.box .tabSelector {
  width: auto;
}
.box .tabSelector li {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

/* help box */
#helpBox .box {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 0;
}

/* menu */
#hamburgerMenu {
	padding: 16px 8px 6px 8px;
}

#zoomMenu {
  display: none !important;
}

#installApp {
	height: 24px;
	font-size: 20px !important;
}
#closeInstallApp {
	font-size: 24px;
}
#installApp img {
	height: 40px;
}
#t_getTheApp {
	position: relative;
	top: -14px;
	font-size: 14px;
}
