/* OpenAero.css 1.2.0

// This file is part of OpenAero.

//  OpenAero was originally designed by Ringo Massa and built upon ideas
//  of Jose Luis Aresti, Michael Golan, Alan Cassidy and many others. 

//  OpenAero is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.

//  OpenAero is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.

//  You should have received a copy of the GNU General Public License
//  along with OpenAero.  If not, see <http://www.gnu.org/licenses/>.
*/

/* General styling */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, sans-serif;
}
span {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Remove Firefox dotted outline */ 
a:focus { 
  outline: none; 
}
input {
  border-left: 1px solid #222;
  border-top: 1px solid #222;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 1px;
}
select {
  border-left: 1px solid #222;
  border-top: 1px solid #222;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 1px;
  background: #f0f0f0;
}
textarea {
  border-left: 1px solid #222;
  border-top: 1px solid #222;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
}
.clearBoth {
  clear: both;
}
.clearSpace {
  clear: both;
  height: 8px;
}
/*#svgContainer {
  position: absolute;
  margin-top: 60px;
  margin-left: 265px;
  background-color:#ffffff;
}*/
#svgContainer {
  position: relative;
  padding: 10px;
  margin-right: 10px;
  height: 100%;
  background-color:#ffffff;
  overflow: auto;
}
#figureSvgContainer {
  position: absolute;
  left:-500;
  width:0;
  height:0;
  opacity:0;
}
#figureChooserSvg {
  position: absolute;
  left:-500;
  width:0;
  height:0;
  opacity:0;
}
#topBlock {
  position: fixed;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  border-bottom: 1px solid #888;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 49px;
  padding: 0 4px 4px 4px;
  z-index: 10;
}
#main {
  position: fixed;
  top: 0px;
  padding: 50px 0 0 0;
  width: 100%;
  height: 90%;
}
#leftBlock {
  float: left;
  overflow: auto;
  background: #f4f4f4;
  background: -webkit-linear-gradient(top, #f4f4f4, #e8e8e8);
  width: 276px;
  height: 99%;
/*  min-height: 800px;*/
  padding: 4px;
  z-index: 1;
}
#figureSelector {
  position: fixed;
  overflow: auto;
  background: rgba(240, 240, 240, 0.7);
  top: 50px;
  right: 0px;
  width: 260px;
  height: 95%;
  min-height: 500px;
  padding: 4px;
  z-index: 2;
}
#openAeroLogo {
  float:left;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  border-radius: 3px;
  background: #ff6030;
  padding: 3px;
  margin-right: 3px;
}
#mainMenu {
  width: 100%;
  height: 25px;
  font-size: 14px;
}
.section {
  position: relative;
  float: left;
  width: 98%;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 10px 1px 1px 1px;
}
.documentation {
  width: auto;
  margin: 1em;
  padding: 2em;
  background: #f8f8f8;
  background: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
  background: linear-gradient(top, #ffffff, #f4f4f4);
}
.docs {
  background: #f8f8f8;
  background: -webkit-linear-gradient(315deg, #ffe090, #fff);
  background: linear-gradient(315deg, #ffe090, #fff);
}
.docs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sequenceInfo {
  font-size: 12px;
}
#figureInfo {
  font-size: 12px;
}
#alerts {
  font-size: 12px;
  color: #d22;
  background: #fff;
  clear: both;
}
.sectionLabel {
  float: left;
  font-size: 14px;
  color: #000;
  margin: -10px 0 -8px 10px;
  background: #f0f0f0;
}
.sectionLabelClose {
  clear: both;
  margin-bottom: -8px;
}
.item {
  clear: both;
  margin: 2px;
}
.label {
  float: left;
}
#sequenceInfo input {
  float: right;
  width: 180px;
  height: 1.5em;
  font-size: 12px;
}
#sequenceInfo select {
  float: right;
  width: 182px;
  height: 1.6em;
  font-size: 12px;
}
#sequenceInfo textarea {
  width: 248px;
  font-size: 12px;
}
#activeLogo {
  float: right;
  font-size: 12px;
}
#sequenceInfo file {
  float: right;
  width: 120px;
  font-size: 12px;
  border: 1px solid black;
}
#mainMenu ul {
  float: left;
}
.openSequence {
  position: relative;
}
#mainMenu input {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 14px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#sequence_text {
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 2px;
}
#chooseLogo svg {
  margin: 10px 10px 0 0;
}
/*alertBox styling*/
#alertBox {
  position: absolute;
  z-index: 999;
  top: 40%;
  left: 20%;
  width: 60%;
  background: #eee;
  border: 2px solid #888;
  border-radius: 5px;
}
#alertBox div {
  margin: 5px;
  padding: 2px;
}
#alertBox #close {
  float: right;
  border: 1px solid #000;
  border-radius: 2px;
  text-decoration: none;
}
#alertBox #close:hover {
  background: #fff;
  text-decoration: none;
}
#saveFileFormDiv {
  width:1px;
  height:1px;
  border:0px;
  display:none;
}
.version {
  position: absolute;
  top:5px;
  right:10px;
  text-align:right;
}
#latestVersion {
  margin:-2px 1em 0 0;
  border:0;
  height:16px;
  width:200px;
}
#version {
  margin-right: 1em;
}
.figureStart {
  z-index: 1;
  position: absolute;
  display: hidden;
}f
.figureStart hover {
  display: block;
}
#selectFigure {
/* z-index must be lower than that of .figureStart to prevent blinking */
  z-index: 0;
  position: absolute;
}
.largeButton {
  text-align: center;
  font-size: 2em;
  font-weight: strong;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  padding: 1px 10px 1px 10px;
  background: rgb(55,176,232); /* non-W3C browsers */
  background: -webkit-linear-gradient(top, rgba(55,176,232,1) 0%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(55,176,232,1) 0%,rgba(6,109,171,1) 100%); /* W3C */
}
.largeButton a {
  text-decoration: none;
  color: white;
}
.largeButton a:hover {
  text-decoration: none;
}
/*TAB SELECTOR FUNCTIONALITY*/
.tabSelector {
  clear: both;
}
.tabSelector ul {
  padding: 0;
  margin: 0;
}
.tabSelector li {
  padding: 2px;
  display: block;
  float: left;
  border-top: 1px solid white;
  border-right: 1px solid #888;
  border-radius: 5px 5px 0 0;
}
.tabSelector a {
  text-decoration: none;
  color: black;
}
.tabSelector .inactiveTab {
  background: #d0d0d0;
  color: #333;
  border-bottom: 1px solid black;
}
.tabSelector .activeTab {
  background: #f0f0f0;
  margin-left: -1px;
  border-left: 1px solid white;
  border-bottom: 1px solid #f0f0f0;
  font-weight: bold;
}
/****************************
 *  Theming figure edit tab *
 ****************************/

#figureOptions {
  float: right;
/*  clear: both;*/
}
#selectedFigure {
  position: relative;
  float: left;
  margin-left: 2px;
  width: 140px;
  height: 140px;
  background: white;
  border: 2px solid #00f;
  border-radius: 3px;
  cursor: pointer;
}
.display {
  display: block;
}
.nodisplay {
  display: none;
}
.hoverdisplay div {
  display: none;
}
.hoverdisplay:hover div {
  display: block;
}
#addFigureText {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 98%;
  text-align: center;
  background: white;
  opacity: 0.7;
  z-index: 1;
}
#addFigureText div {
  margin-top: 1em;
  font-size: 2em;
  color: black;
  text-align: center;
}
/* buttons */
.button {
  float: left;
  width: 32px;
  height: 32px;
  margin: 1px;
}
#switchX {
  background-image: url('buttons/switchX.png');
}
#switchY {
  background-image: url('buttons/switchY.png');
}
#deleteFig {
  background-image: url('buttons/trash.png');
}
#magMin {
  background-image: url('buttons/magmin.png');
}
#magPlus {
  background-image: url('buttons/magplus.png');
}
#moveNoLine {
  background-image: url('buttons/moveforward.png');
}
#straightLine {
  background-image: url('buttons/straightline.png');
}
#curvedLine {
  background-image: url('buttons/curvedline.png');
}
#scale {
  float: left;
  font-size: 16px;
  text-align: center;
  height: 26px;
  width: 26px;
  margin: 2px;
}
#moveX,#moveY {
  float: left;
  font-size: 16px;
  text-align: center;
  height: 20px;
  width: 46px;
  margin: 2px;
}
#figureInfo.section select {
  float: left;
  border: 1px;
}
#entryExitExtension span {
  float: left;
  margin-left: 3px;
  font-size: 14px;
  clear: none;
}
#entryExitExtension span span {
  margin: 0px;
}
.rollGaps {
  float: left;
  clear: none;
}
.plusMin span {
  margin-left: 5px;
}
.minButton {
  float: left;
  margin-left: 5px;
	background-image: url('buttons/smallMinus.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0; /* equivalent to 'top left' */
	border: none;
	height: 20px;
  width: 20px;
  color: transparent;
}
.plusButton {
  float:left;
	background-image: url('buttons/smallPlus.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0; /* equivalent to 'top left' */
	border: none;
	height: 20px;
  width: 20px;
  color: transparent;
}
.plusMinText {
  float: left;
  font-size: 12px;
  width: 1.5em;
  text-align: center;
}
#figureHeader {
  font-size: 14px;
}
#figureChooser {
  margin: 2px;
  width: 256px;
  height: 90%;
  background: rgba(255, 255, 255, 0.7);
  overflow: auto;
}
table#figureChooserTable td {
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 5px;
}
table#figureChooserTable td.selected {
  border: 2px solid magenta;
}
/*MENU DROPDOWN FUNCTIONALITY*/
/*set up ul tags*/ 
#menu, #menu ul{ padding:0; margin:0}
/*set up a tags*/ 
#menu a{display:block;}
/*position level 1 links horizontally*/ 
#menu li{display:block; float:left;}
/*undo previous style for level 2 links*/
#menu li ul li{float:none;}
/*position level 2 links vertically and hide*/ 
#menu li ul{display:none; position:absolute; z-index:10; -webkit-transform-style: preserve-3d; margin-top: -2px; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa}
/*unhide level 2 links on li:hover from level 1*/ 
#menu li:hover ul{display:block;}

/*DROPDOWN STYLING:*/
#menu {
  height:25px
}
#menu a {
  color:#00f;
  text-decoration: none;
  padding:5px 10px 5px 10px;
 }
#menu a:hover {
  color:#03f;
}
#menu li {
  background-color:#FFF;
/*  border:solid 1px #CCC; */
  margin-left:-1px
}
#menu li:hover {
  background-color:#ddf;
}
/*Combo input box*/
.combo {
  position:relative;
}
.combo * {
  padding:0;
  margin:0;
}
.combo input {
  width:120px;
  background-color:#ffc;
  height:1.5em;
  z-index:0;
}
.combo ul {
  padding:1px;
  border: 1px solid #000;
  width: 90px;
  background-color:#ffc;
  position:absolute;
  right:0px;
  top:1.5em;
  display:none;
  z-index:1;
}
.combo li {
  display:block;
  width: 100%;
  cursor: pointer;
}
